*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* REGOLE GENERALI */
.container{
    max-width: 1200px;
    width:100%;
}
.flex-container{
    display:flex;
}
.center{
    justify-content: center;
    align-items: center;
}





/* HEADER */
header{
    min-height: 40px;
}
header nav ul{
    display: flex;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    margin: 0 5px;
}
.menu{
    justify-content: space-between;
}





/* MAIN */
main header, main section{
    min-height: 500px;
}
.primo-elemento{
    width:60%;
}
.grey{
    background-color: lightgrey;
}
.white{
    background-color: white;
}
.content{
    width:70%;
}
.aside{
    width:30%;
}
.green{
    width:100%;
}












/* DEBUG */
.debug header{
    background-color: lightblue;
}
.debug header > .menu{
    background:goldenrod;
    border:1px dashed black;
}
.debug main header{
    background-color: darkblue;
}

.debug main header .primo-elemento,
.aside,
.content,
.green{
    height: 400px;
    background-color: plum;
    border:1px dashed black;
}
.debug main section .aside{
    background-color: pink;
}
.debug main section .content{
    background-color: rgb(78, 150, 250);
}
.debug main section .green{
    background-color: green;
}
