*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* REGOLE GENERALI */
.container{
    max-width: 1200px;
    margin:0 auto;
}
.flex-container{
    display:flex;
}

/* HEADER */
header{
    min-height: 40px;
    padding:15px;
}
header nav ul{
    display: flex;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    margin: 0 5px;
}
.menu{
    justify-content: space-between;
}





/* MAIN */
main header{
    min-height: 300px;
}
.primo-elemento{
    width:70%;
}
.center{
    justify-content: center;
    align-items: center;
}














/* DEBUG */
.debug header{
    background-color: lightblue;
}
.debug header > .menu{
    background:goldenrod;
    border:1px dashed black;
}
.debug main header{
    background-color: darkblue;
}
.primo-elemento{
    height: 100px;
    background-color: plum;
    border:1px dashed black;
}