*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* REGOLE GENERALI */
.container{
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
}
.flex-container{
    display:flex;
}
.center{
    justify-content: center;
    align-items: center;
}





/* HEADER */
header{
    padding:15px;
}
header nav ul, .lista nav ul{
    display: flex;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    margin: 0 5px;
    color:black;
}
.menu{
    justify-content: space-between;
    padding:5px;
}





/* MAIN */
main header, main section{
    padding:15px;
}
main header{
    border-bottom: 4px solid lightblue;
}
.primo-elemento{
    width:60%;
}
.grey{
    background-color: lightgrey;
}
.white{
    background-color: white;
}
.content{
    width:70%;
}
.aside{
    width:30%;
}
.last-content{
    width:100%;
}


/* FOOTER */
footer{
    background-color: rgb(44, 44, 44);
}
footer section{
    padding:15px;
}
footer section:nth-last-of-type(1){
    padding-bottom: 0;
}
.contact{
    width:30%;
}
.lista{
    width:70%;
}
.lista nav ul li{
    width:calc(100%/4)  
}
footer hr{
    background-color: white;
}
footer section .menu{
    align-self: flex-end;
    align-items: center;
}
footer section .menu span{
    padding:5px;
    font-size: 10px;
}







/* DEBUG */
.debug header{
    background-color: lightblue;
}
.debug header > .menu{
    background:goldenrod;
    border:1px dashed black;
}


.debug main header{
    background-color: darkblue;
}
.debug main header .primo-elemento,
.aside,
.content,
.last-content{
    height: 400px;
    background-color: plum;
    border:1px dashed black;
}
.debug main section .aside{
    background-color: pink;
}
.debug main section .content{
    background-color: rgb(78, 150, 250);
}
.debug main section .last-content{
    height:800px;
    background-color: green;
}




.debug footer section .contact{
    height:500px;
    background-color: coral;
    border:1px dashed black;
}
.debug footer section .lista ul li{
    height:500px;
    background-color:rgb(0, 157, 134);
    border:1px dashed white;
}
.debug footer section .menu{
    background-color: aquamarine;
}
.debug footer section .menu span{
    background-color: pink;
    border:1px dashed black;
}
